.root {
	-fx-padding: 15px;
	-fx-background-color: rgb(206, 206, 206);
}

.nadpis {
	-fx-background-color: #f9fc58;
	-fx-border-width: 5px;
	-fx-border-color: black;
	-fx-border-radius: 20px; 
	-fx-background-radius: 20px;
	-fx-font: 24px 'Arial';
	-fx-font-weight: bold; 
	-fx-alignment: center;
	-fx-pref-width: 500px;
	-fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.label {
	-fx-padding: 15px;
}

.grid-pane {
	-fx-alignment: center;
	-fx-vgap: 100px;
	-fx-hgap: 100px;
}

.text-field, .output{
	-fx-pref-width: 200px;
	-fx-padding: 10px 15px;
	-fx-font-size: 16px;
	-fx-background-color: white;
	-fx-border-width: 2px;
	-fx-border-color: black;
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
}

.from, .to {
	-fx-font-size: 22px;
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
}

#vbox{
	-fx-background
}

.output {
	-fx-text-alignment: right;
	-fx-pref-width: 200px;
	-fx-padding: 10px 15px;
	-fx-font-size: 16px;
}

.radio-button {
	-fx-padding: 10px 20px;
	-fx-font-family:'Arial'; 
	-fx-font-size: 16px; 
	-fx-font-weight: bold;
}

.button {
	-fx-background-color: green;
	-fx-text-fill: white;
	-fx-border-radius: 30px;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.v-box {
	-fx-margin: 10px;
}
